@model Persona 



<h1 style="color:blue">Informacion controlador --> Vista</h1>

<h2 style="color:lightblue"> @Model.Nombre , @Model.Email, @Model.Edad</h2>

<h2 style="color:red"> Nombre: @ViewData["NOMBRE"]</h2>

<h2 style="color:green"> Edad: @ViewData["EDAD"]</h2>

<h2 style="color:purple"> Día semana: @ViewData["DIASEMANA"] / @ViewBag.DiaSemana</h2>

